[Desktop Entry]
Encoding=UTF-8
Name=Audax
Comment=Audax P2P Cryptocurrency
Comment[fr]=Audax, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Audax, eşten eşe kriptografik sanal para birimi
Exec=audax-qt %u
Terminal=false
Type=Application
Icon=audax128
MimeType=x-scheme-handler/audax;
Categories=Office;Finance;
