[Desktop Entry]
Encoding=UTF-8
Name=Link to add.png
Type=Link
URL=https://github.com/theaudaxproject/AUDAX/blob/master/src/qt/res/icons/add.png?raw=true
Icon=image-png
